body {
  display: inline-flex;
  height: 523px;
  padding: 54px 214px 54px 143px;
  align-items: center;
}

main {
  width: 336px;
  height: 415px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #05304d;
  box-shadow: 4px 5px 6px 0px #d40ea5;
}
div {
  border-radius: 30px;
  border: 2px solid #d40ea5;
  width: 234px;
  height: 123px;
  flex-shrink: 0;
  background: #f8a8e4;
  margin: 30px 51px 30px;
}
img {
  width: 135px;
  height: 112px;
  flex-shrink: 0;
  margin-top: 24px;
  margin-left: 100px;
  border-radius: 26px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

h1 {
  color: #f8a8e4;
  text-align: center;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 113px;
  height: 20px;
  flex-shrink: 0;
  margin-left: 111px;
  margin-top: 35px;
  margin-bottom: 24px;
}

ol {
  color: #d942b6;
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 127px;
  height: 81px;
  flex-shrink: 0;
  margin: 26px 81px 16px 26px;
  padding: 0%;
  padding-left: 20px;
}
